<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0">
    <meta name="description" content="Lewis - Creative Portfolio HTML Template">
    <meta name="author" content="Paul, Logan Cee">

    <title>HSaaS.ai - Scalable and Reliable Healthcare solutions on the go - Home</title>

    <!-- CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/animsition.min.css" rel="stylesheet">
    <link href="/static/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="/static/css/socicon.css" rel="stylesheet">
    <link href="/static/css/ionicons.min.css" rel="stylesheet">
    <link href="/static/css/animate.min.css" rel="stylesheet">
    <link href="/static/css/jquery.fancybox.min.css" rel="stylesheet">

    <!-- Main CSS -->
    <link href="/static/css/style.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <!--link rel="manifest" href="/static/favicon/site.webmanifest"-->
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
<style>
    
#containerABC {
  display:table;
}





    </style>
  </head>

  <body class="fixed-footer fixed-footer-md" style="background:black">
    <div class="animsition" style="background:black">
      <div class="wrapper" style="background:black">
        <header id="header" class="header header-custom header-absolute a-affix" >
          <div class="container clearfix">
            <ul class="social float-left d-none d-md-block">
              <li><a href="#"><i class="socicon-twitter"></i></a></li>
              <li><a href="#"><i class="socicon-behance"></i></a></li>
              <li><a href="#"><i class="socicon-instagram"></i></a></li>
            </ul>

            <div class="brand d-md-none">
              <a href="/hi/" class="nav-logo">
                <div class="rounded-logo rounded-logo-sm">
                  <svg viewBox="0 0 200 200">
                    <path id="textPath3" d="M 85,0 A 85,85 0 0 1 -85,0 A 85,85 0 0 1 85,0" transform="translate(100,100)" fill="none" stroke-width="0"></path>
                    <g font-size="20px">
                      <text text-anchor="start">
                              <textPath xlink:href="#textPath" startOffset="0%">• &nbsp; AI based Health &nbsp; • &nbsp; Soft as Service  </textPath>
                          </text>
                    </g>
                  </svg>
                  <div class="logo">HS</div>
                </div>
              </a>
            </div>


            <button class="nav-toggle-btn a-nav-toggle d-md-none">
              <span class="nav-toggle">
                <span class="stick stick-1"></span>
                <span class="stick stick-2"></span>
                <span class="stick stick-3"></span>
              </span>
            </button>

            <div class="menu-lang float-right d-none d-md-block">
              <a href="/" class="menu-lang-item ">Eng</a>
              <span class="divider">|</span>
              <a href="#" class="menu-lang-item active">
हिन्दी</a>
            </div>


            <nav class="navbar-nav d-none d-md-block" style="font-color:white;color:white;">
              <ul style="font-color:white;color:white;">
                <li>
                  <a href="about-us.html" class="nav-link dropdown-toggle" id="dropdownMenuStudio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-text="
हमारे बारे में" style="font-color:white;color:white;">
हमारे बारे में</a>
                  
                </li>
                <li class="dropdown">
                  <a href="#" class="nav-link dropdown-toggle" id="dropdownMenuWork" data-text="
हमारा काम" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-color:white;color:white;">
हमारा काम</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuWork">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="dropdown-menu-title" style="font-color:black;color:black;">
हमारी परियोजनाएं</div>
                        <ul>
                          <li><a href="work-grid.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Grid" style="font-color:black;color:black;">पेटेंट</a></li>
                          <li><a href="work-masonry.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Masonry" style="font-color:black;color:black;">शोध</a></li>
                          <li><a href="work-metro.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Metro" style="font-color:black;color:black;">उत्पाद</a></li>
                        </ul>
                      </div>
                      
                  </div>
                </li>
                <li>
                  <a href="/hi/" class="nav-logo">
                    <div class="rounded-logo rounded-logo-sm">
                      <svg viewBox="0 0 200 200">
                        <path id="textPath" d="M 85,0 A 85,85 0 0 1 -85,0 A 85,85 0 0 1 85,0" transform="translate(100,100)" fill="none" stroke-width="0"></path>
                        <g font-size="20px">
                          <text text-anchor="start">
                              <textPath xlink:href="#textPath" startOffset="0%">• &nbsp; AI based Health &nbsp; • &nbsp; Soft as Service  </textPath>
                          </text>
                        </g>
                      </svg>
                      <div class="logo" style="font-color:white;color:white;">HS</div>
                    </div>
                  </a>
                </li>
                <li class="dropdown">
                  <a href="#" class="nav-link dropdown-toggle" id="dropdownMenuNews" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-text="हमारी टीम" style="font-color:white;color:white;">हमारी टीम</a>
                </li>
                <li><a href="contact.html" class="nav-link animsition-link" data-animsition-out-class="fade-out" data-text="
संपर्क करें" style="font-color:white;color:white;">
संपर्क करें</a></li>
              </ul>
            </nav>
          </div>

            <div class="hide-menu a-nav-toggle"></div>

            <div class="menu">
            <div class="menu-lang">
              <a href="#" class="menu-lang-item" style="color:black">Eng</a>
              <a href="/hi/" class="menu-lang-item active" style="color:gray">हिन्दी</a>
            </div>

            <div class="menu-main" id="accordion">
                
              <div class="menu-main" id="accordion" style="color:black">
                <ul style="color:black">
                  <li class="active"><a data-text="Home"  href="#" role="button" style="color:black">Home</a>
                    <!--div class="collapse" id="menuHome" data-parent="#accordion">
                      <ul>
                        <li><a href="home-flash.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Flash">Flash</a></li>
                        <li><a href="home-horizontal.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Parallax Horizontal">Parallax Horizontal</a></li>
                        <li><a href="home-minimal.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Minimal">Minimal</a></li>
                        <li><a href="home-zoom.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Zoom Parallax Image">Zoom Parallax Image</a></li>
                        <li><a href="home-3d.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="3D Parallax">3D Parallax</a></li>
                        <li><a href="home-video.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Video Background">Video Background</a></li>
                        <li><a href="home-piling.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Parallax Piling">Parallax Piling</a></li>
                      </ul>
                    </div-->
                  </li>
                  <li><a data-text="What we do?" data-toggle="collapse" href="#menuWorks" role="button" aria-expanded="false" aria-controls="menuWorks" style="color:black">What we do?</a>
                    <div class="collapse" id="menuWorks" data-parent="#accordion">
                      <ul>
                        <li><a href="about-me.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="About Us">About Us</a></li>
                        <li><a href="/services" class="animsition-link" data-animsition-out-class="fade-out" data-text="Our Works">Our Services</a></li>
                        <!--li><a href="work-metro.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Metro">Metro</a></li>
                        <li><a href="work-listing.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Listing">Listing</a></li>
                        <li><a href="work-carousel.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Carousel">Carousel</a></li>
                        <li><a href="work-parallax.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Parallax">Parallax</a></li>
                        <li><a href="single-project-branding.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Single Project Branding">Single Project Branding</a></li>
                        <li><a href="single-project-photography.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Single Project Photography">Single Project Photography</a></li>
                        <li><a href="single-project-web-design.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Single Project Web Design">Single Project Web Design</a></li>
                        <li><a href="single-project-mobile-app.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Single Project Mobile App">Single Project Mobile App</a></li-->
                      </ul>
                    </div>
                  </li>
                  <li><a data-text="Our Work" data-toggle="collapse" href="#menuNews" role="button" aria-expanded="false" aria-controls="menuNews" style="color:black">Our Work</a>
                    <div class="collapse" id="menuNews" data-parent="#accordion">
                      <ul>
                        <li><a href="news-grid.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Grid">Research</a></li>
                        <li><a href="news-masonry.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Masonry">Patent</a></li>
                        <li><a href="news-with-sidebar.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="News with sidebar">Products</a></li>
                        <!--li><a href="single-post-no-sidebar.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Single Post No Sidebar">Single Post No Sidebar</a></li>
                        <li><a href="single-post-with-sidebar.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Single Post With Sidebar">Single Post With Sidebar</a></li-->
                      </ul>
                    </div>
                  </li>
                  <li ><a data-text="Flag Bearers" data-toggle="collapse" href="#menuStudio" role="button" aria-expanded="true" aria-controls="menuStudio" style="color:black">Flag Bearers</a>
                    <div class="collapse show" id="menuStudio" data-parent="#accordion">
                      <ul>
                        
                        <li class="#"><a href="/team" class="animsition-link" data-animsition-out-class="fade-out" data-text="Our team">Our team</a></li>
                        <li><a href="career.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Career">Career</a></li>
                        
                        <li><a href="how-its-work.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Contact Us">Contact Us</a></li>
                        <!--li><a href="service.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Service">Service</a></li>
                        <li><a href="coming-soon.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Coming soon">Coming soon</a></li>
                        <li><a href="404.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Page 404">Page 404</a></li-->
                      </ul>
                    </div>
                  </li>
                  <li><a href="contact.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Contact">Contact</a></li>
                </ul>
              </div>

              <div class="menu-footer">
                  <ul class="social social-rounded">
                    <li><a href="#" style="color:black"><i class="socicon-twitter"></i></a></li>
                    <li><a href="#" style="color:black"><i class="socicon-facebook"></i></a></li>
                    <li><a href="#" style="color:black"><i class="socicon-googleplus"></i></a></li>
                  </ul>
                  <div class="menu-copyright">&copy; 2020 <strong>HSaaS.ai</strong>. All Rights Reserved.<br /> Powered by <strong>Cratize.ai</strong></div>
              </div>
            </div>
          </header>


        <div class="promo-3d full-height">
          <div class="promo-3d-bg"><img src="/static/img/bg-3d.jpg" alt="" /></div>
          <div class="promo-3d-man"><img src="/static/img/bg-3d-man.png" alt="" /></div>
          <div class="container">
            <div class="promo-screen-titles">
              <div class="top-title wow fadeInUp" data-wow-delay=".2s" style="font-color:white;color:white;margin-top:2em;">
सभी के लिए ए.आई.</div>
              <h1 class="font-custom wow fadeInUp" data-wow-delay=".4s"><span class="inside" style="font-color:white;color:white;">HSaaS.ai</span></h1>
              <div class="row justify-content-md-center">
                <div class="col col-lg-4"><div class="slogan wow fadeInUp" data-wow-delay=".6s" style="font-color:white;color:white;">स्वास्थ्य सेवा का नवीनीकरण<br />हम हेल्थकेयर टेक्नोलॉजी को अफोर्डेबल, विश्वसनीय बनाते हैं और आपकी पहुंच तक लाते हैं</div></div>
              </div>
            </div>
          </div>
          <div class="promo-3d-opacity"></div>
        </div>

        <div class="section section-about-3d">
          <div class="section-item about-3d text-center">
            <div class="container">
              <h3 class="section-item-title section-item-title-sm">HSaaS प्रयोगशाला
</h3>
              <div class="row text-left">
                <div class="col-md-6">
                  <div class="about-3d-photo">
                    <div class="photo-container">
                      <img src="/static/img/pic28.png" alt="" class="img-fluid" />
                      <div class="mask"></div>
                    </div>
                    <div class="rounded-logo stamp font-custom">
                      <svg viewBox="0 0 200 200">
                        <path id="textPath2" d="M 85,0 A 85,85 0 0 1 -85,0 A 85,85 0 0 1 85,0" transform="translate(100,100)" fill="none" stroke-width="0"></path>
                        <g font-size="20px">
                          <text text-anchor="start">
                              <textPath xlink:href="#textPath" startOffset="0%">• &nbsp; AI based Health &nbsp; • &nbsp; Soft as Service  </textPath>
                          
                          </text>
                        </g>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 about-3d-detail">
                  <h2 class="h2-3d"><strong>
स्केलेबल और </strong> इंटेलिजेंट हेल्थकेयर समाधान।.</h2>
                  <div class="lead">
अब अपने हेल्थकेयर सर्विस पाइपलाइन में क्लाउड की स्केलेबिलिटी के साथ संचालित AI की सटीकता का लाभ उठाएं।<br />
हेल्थकेयर सॉल्यूशंस, गहरी अंतर्दृष्टि और विश्लेषण के साथ में।</div>
                  <div class="lh-md text-grey">हम स्थानीय समुदाय को सशक्त बनाने के मिशन पर हैं,<br /> स्थानीय विक्रेताओं को बदलने के बजाय हम उन्हें ऑनलाइन लाने और एआई के क्षेत्र में प्रगति के साथ लैस करने पर विश्वास करते हैं।<br /> HSaaS AI स्वास्थ्य लाभ को सभी के लिए उपलब्ध कराने का एक ऐसा ही सार्थक प्रयास है।</div>
                  <div class="more more-lg"><a href="about-us.html">
और अधिक जानकारी।<i class="icon ion-ios-arrow-right"></i></a></div>
                </div>
              </div>
            </div>
                        <!--div class="vertical-text-left"><a href="tel:853462188" class="phone-link">TEL: (85) 346 2188</a></div>
                        <div class="vertical-text-right"><a href="mailto:hello@lewisstudio.co" class="mail-link">hello@lewisstudio.co</a></div-->
                      </div>

                      <div class="section-item projects-3d text-left">
                          <div class="row">
                        <div class="containerABC">
                            
                            <div style="display:table-cell;width:33.33vw;padding: 10px;"><h3 class="section-item-title section-item-title-sm mb100" style="text-align:center">समाधान <br />अब तक
</h3></div>
                            <div style="display:table-cell;width:33.33vw;"><h3 class="section-item-title section-item-title-sm mb100" style="text-align:center" >वर्तमान<br /> कार्य क्षेत्र</h3></div>
                            <div style="display:table-cell;width:33.33vw;"><h3 class="section-item-title section-item-title-sm mb100" style="text-align:center">जारी <br />परियोजनाएं</h3></div>
                            <div style="clear: both; "></div>
                        </div>
            </div>
                        <div class="container-fluid">
                          <div class="project-carousel-3d carousel-container wow fadeIn a-play" data-wow-offset="250" data-wow-duration="0.2s">
                            <div class="a-project-carousel owl-carousel owl-theme nav-square nav-white-red nav-inside">
                              <a href="single-project-web-design.html" class="project-carousel-item">
                                <div class="project-carousel-photo" style="background-image:url(../static/img/pic29.jpg)"></div>
                                <div class="project-carousel-date">2020</div>
                                <div class="project-carousel-detail">
                                  <h2 class="project-carousel-title">रेडियोलोजी</h2>
                                  <div class="project-carousel-category" style="background-color: rgba(255,0,0,0.6);">एक्स-रे, एमआरआई और सीटी स्कैन एनालिटिक्स</div>
                                </div>
                              </a>
                              <a href="single-project-branding.html" class="project-carousel-item text-white">
                                <div class="project-carousel-photo" style="background-image:url(../static/img/pic30.jpg)"></div>
                                <div class="project-carousel-date">2019</div>
                                <div class="project-carousel-detail">
                                  <h2 class="project-carousel-title">ऑपथैल्मोलॉजी</h2>
                                  <div class="project-carousel-category" style="background-color: rgba(255,0,0,0.6);">फंडस फोटोग्राफी
</div>
                                </div>
                              </a>
                              <a href="single-project-branding.html" class="project-carousel-item">
                                <div class="project-carousel-photo" style="background-image:url(../static/img/pic31.jpg)"></div>
                                <div class="project-carousel-date">2019</div>
                                <div class="project-carousel-detail">
                                  <h2 class="project-carousel-title">डर्माटोलॉजी</h2>
                                  <div class="project-carousel-category" style="background-color: rgba(255,0,0,0.6);">स्मार्टपोन आधारित निदान</div>
                                </div>
                              </a>
                              <a href="single-project-branding.html" class="project-carousel-item">
                                <div class="project-carousel-photo" style="background-image:url(../static/img/pic32.jpg)"></div>
                                <div class="project-carousel-date">2020</div>
                                <div class="project-carousel-detail">
                                  <h2 class="project-carousel-title">BCI</h2>
                                  <div class="project-carousel-category" style="background-color: rgba(255,0,0,0.6);">ब्रेन कंप्यूटर इंटरफेस
</div>
                                </div>
                              </a>
                              <a href="single-project-web-design.html" class="project-carousel-item">
                                <div class="project-carousel-photo" style="background-image:url(../static/img/7XPN.gif)"></div>
                                <div class="project-carousel-date">2018</div>
                                <div class="project-carousel-detail">
                                  <h2 class="project-carousel-title">
ऑन्कोलॉजी</h2>
                                  <div class="project-carousel-category" style="background-color: rgba(255,0,0,0.6);">
गैर इनवेसिव ट्यूमर निदान</div>
                                </div>
                              </a>
                            </div>
                            <div class="mask wow slideInLeft" data-wow-offset="250" data-wow-duration="1.5s"></div>
                          </div>
                        </div>
                      </div>

                      <div class="section-item services-3d">
                        <div class="container">
                          <h3 class="section-item-title section-item-title-sm">हमारे आदर्श</h3>
                          <h2 class="h2-3d"><strong>
विश्वसनीय समाधान</strong> आपकी स्वास्थ्य सेवाओं के लिए</h2>
                          <div class="row">
                            <div class="col-md-4 wow fadeInUp" data-wow-delay=".2s" data-wow-offset="200">
                              <a href="service.html" class="service-item">
                                <div class="service-item-photo" style="background-image: url(../static/img/pic34.png);"></div>
                                <div class="services-letter font-custom">
                                  <div class="inside">H</div>
                                </div>
                                <div class="service-item-title" style="background-color: rgba(255,0,0,0.6);">हेल्थकेयर ऑटोमेशन
</div><div class="service-item-descr text-grey">हम बढ़ती आबादी के लिए आवश्यक हेल्थकेयर की जरूरतों और उनके समर्थन के लिए उपलब्ध हेल्थकेयर इन्फ्रास्ट्रक्चर के बीच की खाई को पाट रहे हैं। हम AI में नवाचारों को सभी के लिए उपलब्ध कराना चाहते हैं।
                  </div>
                                <span class="btn btn-light">और अधिक जानें <i class="icon ion-ios-arrow-right"></i></span>
                              </a>
                            </div>
                            <div class="col-md-4 wow fadeInUp" data-wow-delay=".4s" data-wow-offset="200">
                              <a href="service.html" class="service-item">
                                <div class="service-item-photo" style="background-image: url(../static/img/pic35.png);"></div>
                                <div class="services-letter font-custom">
                                  <div class="inside">E</div>
                                </div>
                                <div class="service-item-title" style="background-color: rgba(255,0,0,0.6);">
सशक्तिकरण और उत्थान</div>
                                <div class="service-item-descr text-grey">हम AI में नवीनतम नवाचारों के साथ सभी कोनों और रैंकों से डॉक्टरों, फार्मासिस्टों और लैब्स को लैस कर रहे हैं। हम हेल्थकेयर को स्वचालित कर रहे हैं लेकिन हेल्थकेयर प्रोवाइडर्स के पास चाबी छोड़ना चाहते हैं। हम प्रौद्योगिकी के सहयोगी विकास और AI के सिद्धांतों का अभ्यास करते हैं। प्रौद्योगिकी की क्षमता सभी के लिए सुलभ होनी चाहिए।</div>
                                <span class="btn btn-light">और अधिक जानें <i class="icon ion-ios-arrow-right"></i></span>
                              </a>
                            </div>
                            <div class="col-md-4 wow fadeInUp" data-wow-delay=".6s" data-wow-offset="200">
                              <a href="service.html" class="service-item">
                                <div class="service-item-photo" style="background-image: url(../static/img/pic36.png);"></div>
                                <div class="services-letter font-custom">
                                  <div class="inside">R</div>
                                </div>
                                <div class="service-item-title" style="background-color: rgba(255,0,0,0.6);">विश्वसनीयता और स्केलेबिलिटी
</div>
                                <div class="service-item-descr text-grey">
हमारे एआई मॉडल को पहले सहकर्मी द्वारा समीक्षा की गई पत्रिकाओं में प्रकाशित करके प्रमाणित किया जाता है और फिर परिणाम हमारे प्लेटफॉर्म पर विश्वसनीयता और विश्वास प्रदान करने के लिए प्रतिष्ठित डॉक्टरों से मान्य किए जाते हैं। ये मॉडल एक स्केलेबल उत्पाद पाइपलाइन में एकीकृत हैं और आपकी बढ़ती जरूरतों को पूरा करने के लिए क्लाउड पर तैनात हैं। हेल्थकेयर प्रोवाइडर्स के लिए जाने वाले पावरफुल एनालिटिक्स जो ग्राहकों को भरोसे का टोकन प्रदान करते हैं।</div>
                                <span class="btn btn-light">और अधिक जानें <i class="icon ion-ios-arrow-right"></i></span>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="section-item text-center">
                        <div class="container">
                          <h3 class="section-item-title section-item-title-sm">हमारे सहयोगी
</h3>
                          <div class="partner-list row align-items-center">
                            <div class="col partner-item wow fadeIn" data-wow-delay=".1s" data-wow-offset="100"><a href="#" class="inside"><img src="/static/img/pic4.jpg" alt="" width="132" /></a></div>
                            <div class="col partner-item wow fadeIn" data-wow-delay=".2s" data-wow-offset="100"><a href="#" class="inside"><img src="/static/img/pic5.jpg" alt="" width="116" /></a></div>
                            <!--div class="col partner-item wow fadeIn" data-wow-delay=".3s" data-wow-offset="100"><a href="#" class="inside"><img src="/static/img/pic6.jpg" alt="" width="104" /></a></div>
                            <div class="col partner-item wow fadeIn" data-wow-delay=".4s" data-wow-offset="100"><a href="#" class="inside"><img src="/static/img/pic7.jpg" alt="" width="125" /></a></div>
                            <div class="col partner-item wow fadeIn" data-wow-delay=".5s" data-wow-offset="100"><a href="#" class="inside"><img src="/static/img/pic8.jpg" alt="" width="150" /></a></div>
                            <div class="col partner-item wow fadeIn" data-wow-delay=".1s" data-wow-offset="100"><a href="#" class="inside"><img src="/static/img/pic17.png" alt="" width="141" /></a></div>
                            <div class="col partner-item wow fadeIn" data-wow-delay=".2s" data-wow-offset="100"><a href="#" class="inside"><img src="/static/img/pic18.png" alt="" width="104" /></a></div>
                            <div class="col partner-item wow fadeIn" data-wow-delay=".3s" data-wow-offset="100"><a href="#" class="inside"><img src="/static/img/pic20.png" alt="" width="124" /></a></div>
                            <div class="col partner-item wow fadeIn" data-wow-delay=".4s" data-wow-offset="100"><a href="#" class="inside"><img src="/static/img/pic21.png" alt="" width="140" /></a></div>
                            <div class="col partner-item wow fadeIn" data-wow-delay=".5s" data-wow-offset="100"><a href="#" class="inside"><img src="/static/img/pic22.png" alt="" width="134" /></a></div-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <footer id="footer" class="footer footer-red">
                    <div class="footer-content">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-4 mt-1 mb-5">
                            <h3 class="section-item-title">office</h3>
                            <div class="contact-item">Radha Valley, Mathura<br /> Uttar Pradesh</div>
                            <div class="contact-item"><a href="mailto:support@hsaas.ai">support@hsaas.ai</a></div>
                            <div class="contact-item"><a href="tel:+919149154337" class="phone-link">+91812 618 1867</a>
                            
                            </div>
                            <ul class="social">
                              <li><a href="#"><i class="socicon-twitter"></i></a></li>
                              <li><a href="#"><i class="socicon-facebook"></i></a></li>
                              <li><a href="#"><i class="socicon-googleplus"></i></a></li>
                              <li><a href="#"><i class="socicon-behance"></i></a></li>
                              <li><a href="#"><i class="socicon-instagram"></i></a></li>
                            </ul><br />
                            <a href="/Coming-Soon" target="_blank">From the Founders Desk</a>
                          </div>
                          <div class="col-md-4 mb-5 text-center">
                            <div class="more fs14 mb-2 mt-3">So What’s Next?</div>
                            <div class="h2-3d font-custom mb-2"><strong>We’re Ready!</strong></div>
                            <div class="more more-xl"><a href="#" class="underline">Let’s Chat</a></div>
                          </div>
                          <div class="col-md-4 mt-1 mb-5 text-right">
                            <h3 class="section-item-title">Important Links</h3>
                             <a href="/Coming-Soon" target="_blank">About Us</a><br />
                             <a href="/team" target="_blank">Our Team</a><br />
                             <a href="/Coming-Soon" target="_blank">Our Partners</a><br />
                             <a href="/Coming-Soon" target="_blank">Our Doctors</a><br />
                             <a href="/Coming-Soon" target="_blank">Our Products &amp;<br /> Current Areas</a><br /><br />
                             <a href="/Coming-Soon" target="_blank">Validation</a><br />
                             <a href="/Coming-Soon" target="_blank">Press Release</a><br />
                             <a href="/Coming-Soon" target="_blank">Contact Us</a>
                            <!--div class="twitter-item">
                              Looking for aa Creative PSD Template?
                              <br />
                              It here: <a href="/Coming-Soon" target="_blank">/Coming-Soon</a>
                              <div class="twitter-date"><i class="socicon-twitter"></i> 2 days ago</div>
                            </div>
                            <div class="twitter-item">
                              You need an image stock
                              <br />
                              It here: <a href="https://uph.com/567AW1" target="_blank">https://uph.com/567AW1</a>
                              <div class="twitter-date"><i class="socicon-twitter"></i> 4 days ago</div>
                            </div-->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="site-info">
                      <div class="container">
                          <div class="copyright">&copy; 2020 <strong>HSaaS.ai</strong>. All Rights Reserved. Powered by <strong>Cratize.ai</strong></div>
                      </div>
                    </div>
                  </footer>
                </div>

                <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
                <script>window.jQuery || document.write('<script src="/static/js/jquery.min.js"><\/script>')</script>
                <script src="/static/js/smoothscroll.js"></script>
                <script src="/static/js/popper.min.js"></script>
                <script src="/static/js/bootstrap.min.js"></script>
                <script src="/static/js/animsition.min.js"></script>
                <script src="/static/js/owl.carousel.min.js"></script>
                <script src="/static/js/wow.min.js"></script>
                <script src="/static/js/jquery.pagepiling.min.js"></script>
                <script src="/static/js/isotope.pkgd.min.js"></script>
                <script src="/static/js/jquery.fancybox.min.js"></script>
                <script src="/static/js/TweenMax.min.js"></script>
                <script src="/static/js/ScrollMagic.min.js"></script>
                <script src="/static/js/animation.gsap.min.js"></script>
                <script src="/static/js/jquery.viewport.js"></script>
                <script src="/static/js/jquery.countdown.min.js"></script>
                <script src="/static/js/script.js"></script>

                <script>
                  $(document).ready(function() {
                    // init controller
                    var controller = new ScrollMagic.Controller();

                    // build scenes
                    new ScrollMagic.Scene({triggerElement: '.promo-3d', triggerHook: 0, duration: '50%'})
                          .setTween('.promo-screen-titles', {top: '7rem', ease: Linear.easeNone})
                          .addTo(controller);

                    new ScrollMagic.Scene({triggerElement: '.promo-3d', triggerHook: 0, duration: '90%'})
                          .setTween('.promo-3d-bg', {bottom: '-10vmin', scale: 1.6, ease: Linear.easeNone})
                          .addTo(controller);

                    new ScrollMagic.Scene({triggerElement: '.promo-3d', triggerHook: '0', duration: '80%'})
                          .setTween('.promo-3d-man', {bottom: '-30vmin', scale: .65, ease: Linear.easeNone})
                          .addTo(controller);

                    new ScrollMagic.Scene({triggerElement: '.promo-3d-opacity', triggerHook: '0', duration: '20%'})
                          .setTween('.promo-3d-man, .promo-3d-bg', {opacity: '0', ease: Linear.easeNone})
                          .addTo(controller);

                    new ScrollMagic.Scene({triggerElement: '.section-about-3d', triggerHook: '0', duration: '10%'})
                          .setTween('.promo-3d-man, .promo-3d-bg', {visibility: 'hidden', ease: Linear.easeNone})
                          .addTo(controller);

                    new ScrollMagic.Scene({triggerElement: '.section-about-3d', triggerHook: '0'})
                          .setClassToggle('.section-about-3d', 'active')
                          .addTo(controller);

                  });
                </script>
                <script>
            $(document).ready(function() {

                /* Count of paragraphs shown */
                var cutCount = 2;

                $("#testID p").each(function (i) {
                    i++;
                    if(i == cutCount) {
                        $(this).append(' <a href="javascript:void(1)" onclick="$(\'#testID p\').show(); $(this).hide()">Read more</b>')
                    }
                    if(i > cutCount) {
                       $(this).hide();
                    }
                });

            });
                </script>

              </body>
            </html>
