<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0">
    <meta name="description" content="Lewis - Creative Portfolio HTML Template">
    <meta name="author" content="Paul, Logan Cee">

    <title>HSaaS.ai - Scalable and Reliable Healthcare solutions on the go - Our Services</title>

    <!-- CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/animsition.min.css" rel="stylesheet">
    <link href="/static/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="/static/css/socicon.css" rel="stylesheet">
    <link href="/static/css/ionicons.min.css" rel="stylesheet">
    <link href="/static/css/animate.min.css" rel="stylesheet">
    <link href="/static/css/jquery.fancybox.min.css" rel="stylesheet">

    <!-- Main CSS -->
    <link href="/static/css/style.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

  </head>

   <body class="theme-orange fixed-footer fixed-footer-lg" style="background:black">
    <div class="animsition">
      <div class="wrapper parallax-start" style="background:black">
        <header id="header" class="header header-fixed">
          <div class="container-fluid clearfix">
            <div class="brand">
              <a href="/">
                <div class="brand-name text-texture">HS</div>
                <div class="brand-text">Making AI<br /> Acessible</div>
              </a>
            </div>

            <button class="nav-toggle-btn a-nav-toggle">
              <span class="nav-toggle-title" style="color:gray">Menu</span>
              <span class="nav-toggle nav-toggle-sm">
                <span class="stick stick-1"></span>
                <span class="stick stick-2"></span>
                <span class="stick stick-3"></span>
              </span>
            </button>
          </div>

          <div class="hide-menu a-nav-toggle"></div>

          <div class="menu">
            <div class="menu-lang">
              <a href="#" class="menu-lang-item active">Eng</a>
              <a href="/hi/" class="menu-lang-item" style="color:gray">हिन्दी</a>
            </div>

            <div class="menu-main" id="accordion" style="color:black">
              <ul style="color:black">
                <li><a data-text="Home"  href="/" role="button" style="color:black">Home</a>
                  <!--div class="collapse" id="menuHome" data-parent="#accordion">
                    <ul>
                      <li><a href="home-flash.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Flash">Flash</a></li>
                      <li><a href="home-horizontal.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Parallax Horizontal">Parallax Horizontal</a></li>
                      <li><a href="home-minimal.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Minimal">Minimal</a></li>
                      <li><a href="home-zoom.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Zoom Parallax Image">Zoom Parallax Image</a></li>
                      <li><a href="home-3d.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="3D Parallax">3D Parallax</a></li>
                      <li><a href="home-video.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Video Background">Video Background</a></li>
                      <li><a href="home-piling.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Parallax Piling">Parallax Piling</a></li>
                    </ul>
                  </div-->
                </li>
                <li class="active"><a data-text="What we do?" data-toggle="collapse" href="#menuWorks" role="button" aria-expanded="true" aria-controls="menuWorks" style="color:black">What we do?</a>
                  <div class="collapse show" id="menuWorks" data-parent="#accordion">
                    <ul>
                      <li><a href="about-me.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="About Us">About Us</a></li>
                      <li><a href="/services" class="animsition-link" data-animsition-out-class="fade-out" data-text="Our Services">Our Services</a></li>
                      <!--li><a href="work-metro.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Metro">Metro</a></li>
                      <li><a href="work-listing.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Listing">Listing</a></li>
                      <li><a href="work-carousel.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Carousel">Carousel</a></li>
                      <li><a href="work-parallax.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Parallax">Parallax</a></li>
                      <li><a href="single-project-branding.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Single Project Branding">Single Project Branding</a></li>
                      <li><a href="single-project-photography.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Single Project Photography">Single Project Photography</a></li>
                      <li><a href="single-project-web-design.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Single Project Web Design">Single Project Web Design</a></li>
                      <li><a href="single-project-mobile-app.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Single Project Mobile App">Single Project Mobile App</a></li-->
                    </ul>
                  </div>
                </li>
                <li><a data-text="Our Work" data-toggle="collapse" href="#menuNews" role="button" aria-expanded="false" aria-controls="menuNews" style="color:black">Our Work</a>
                  <div class="collapse" id="menuNews" data-parent="#accordion">
                    <ul>
                      <li><a href="news-grid.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Research">Research</a></li>
                      <li><a href="news-masonry.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Patent">Patent</a></li>
                      <li><a href="news-with-sidebar.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Products">Products</a></li>
                      <!--li><a href="single-post-no-sidebar.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Single Post No Sidebar">Single Post No Sidebar</a></li>
                      <li><a href="single-post-with-sidebar.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Single Post With Sidebar">Single Post With Sidebar</a></li-->
                    </ul>
                  </div>
                </li>
                <li><a data-text="Flag Bearers" data-toggle="collapse" href="#menuStudio" role="button" aria-expanded="false" aria-controls="menuStudio" style="color:black">Flag Bearers</a>
                  <div class="collapse" id="menuStudio" data-parent="#accordion">
                    <ul>
                     
                      <li class="#"><a href="/team" class="animsition-link" data-animsition-out-class="fade-out" data-text="Our team">Our team</a></li>
                      <li><a href="career.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Career">Career</a></li>
                     
                      <li><a href="how-its-work.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Contact Us">Contact Us</a></li>
                      <!--li><a href="service.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Service">Service</a></li>
                      <li><a href="coming-soon.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Coming soon">Coming soon</a></li>
                      <li><a href="404.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Page 404">Page 404</a></li-->
                    </ul>
                  </div>
                </li>
                <li><a href="contact.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Contact">Contact</a></li>
              </ul>
            </div>

            <div class="menu-footer">
                <ul class="social social-rounded">
                  <li><a href="#" style="color:black"><i class="socicon-twitter"></i></a></li>
                  <li><a href="#" style="color:black"><i class="socicon-facebook"></i></a></li>
                  <li><a href="#" style="color:black"><i class="socicon-googleplus"></i></a></li>
                </ul>
              <div class="menu-copyright">&copy; 2020 <strong>HSaaS.ai</strong>. All Rights Reserved.<br /> Powered by <strong>Cratize.ai</strong></div>            </div>
          </div>
        </header>

        <div class="section">
          <div class="section-item">
            <div class="container">
              <div class="mt70 text-left">
                <div class="row">
                  <div class="col-md-10">
                    <h1 class="fs60 mb20 font-libre text-uppercase wow fadeInUp"><strong>Empowering local vendors by equipping HealthCare providers with latest innovations in AI.</strong></h1>
                  </div>
                </div>
                <div class="fs20 lh-lg2 text-grey mt60 wow fadeInUp" data-wow-delay=".2s">During this situation of global pandemic COVID19, Healthcare service is to be catered at home keeping safety concerns in mind and meeting the needs of growing demand on HealthCare infrastructure. This vision can be fulfilled by automating the HealthCare pipelines using AI for reliability, deploying the solutions on the cloud for scalability, and leveraging our Local HealthCare service providers from all ranges(Hospitals, Clinic, Self Private Practitioners, Pharmacies, Labs and others. AI as a scalable service on Cloud is the only possible solution that can make the health Industry reach directly at doorstep.</div>
              </div>

            </div>
          </div>

          <div class="section-item text-left">
            <div class="container">
              <div class="service-promo-list">
                <div class="service-promo-item row no-gutters wow fadeInLeft" data-wow-delay=".2s" data-wow-offset="150">
                  <div class="col-sm-4 service-promo-item-photo" style="background-image: url(/static/img/hospital.jpg);">
                    <img src="/static/img/hospital.jpg" alt="" class="img-fluid d-sm-none">
                  </div>
                  <div class="col-sm-8 service-promo-item-detail">
                    <div class="fs20 text-grey"><h1><b>For Hospitals</b></h1></div>
  <div class="fs18 text-grey">HSaaS enables your staff to be more efficient, and capable of handling more patients that will in turn reduce your supporting cost and improved business with added token of trust on your Hospital.</div>
                    <div class="fs20 text-grey"><strong><h2>Some services:</h2></strong>
                        <ul class="fs14 text-grey">
                          <li>We Offer various solutions deployed on cloud and customize it around your brand.</li>
                          <li>We Offer diagnostic services, real time EEG, ECG analytics (or Other biophysical signals).</li>
                          <li>We also build customized online OCD and consultation platform unique to your Brand.</li>
                          <li>We can also minimize contact in your logistic chain by application of IoT driven products.</li>
 <li>Association with HSaaS, securing and upgrading your services, automating your pipeline, equipping your staff with AI tools will also add a layer of reliability and authenticity to your brand.</li>
                        </ul>


                    </div>
                  </div>
                </div>

                <div class="service-promo-item row no-gutters wow fadeInRight" data-wow-delay=".2s" data-wow-offset="150">
                  <div class="col-sm-4 order-sm-last service-promo-item-photo" style="background-image: url(/static/img/patient.jpg);">
                    <img src="/static/img/patient.jpg" alt="" class="img-fluid d-sm-none">
                  </div>
                  <div class="col-sm-8 order-sm-first service-promo-item-detail">
                    <div class="fs20 text-grey"><h1><b>For Patients</b></h1></div>
                    <div class="fs18 text-grey"> HSaaS is another name of trust in HealthCare, All our AI tools are peer reviewed in Research Journals and crafted by leading doctors and specialists in our team, designed by our IT experts led by industry leaders and validated by some of the most experienced doctors.</div>
                    <div class="fs20 text-grey"><strong><h2>Some services:</h2></strong>
                        <ul class="fs14 text-grey">
                          <li>We offer a platform for you to find and consult doctors, pharmacies and labs equipped with latest innovations in AI who follow our contact less healthcare service delivery protocols.</li>
                          <li>You can also schedule physical appointments with Hospitals, doctors and other vendors on our platform which are validated by our team of professionals for safety standard protocols.</li>
                          <li>We also maintain your medical History or record, Do real time monitoring of your health and offer deep insights on your current health.</li>
                          <li>Our vendors offer custom and detailed reports, suggestions and accurate analytics on your health powered with highly accurate AI.</li>
 <li> Our platform can also assist you in choosing a budget friendly and cheaper regime as an alternative to your existing prescription which you can get validated by an expert on our platform in no time.</li>
                        </ul>


                    </div>
                  </div>
                </div>

                <div class="service-promo-item row no-gutters wow fadeInLeft" data-wow-delay=".2s" data-wow-offset="150">
                  <div class="col-sm-4 service-promo-item-photo" style="background-image: url(/static/img/selfprdoc.jpg);">
                    <img src="/static/img/selfprdoc.jpg" alt="" class="img-fluid d-sm-none">
                  </div>
                  <div class="col-sm-8 service-promo-item-detail">
                    <div class="fs20 text-grey"><h1><b>For Self/Private Practitioners</b></h1></div>
                    <div class="fs18 text-grey">With us you can greatly extend your capabilities, reduce diversion of patient due to technical or capability limitation, include more services in your offering, expand your area of expertise and extend daily delivery limits of yourself and your staff</div>
                   <div class="fs20 text-grey"><strong><h2>Some services:</h2></strong>
                        <ul class="fs14 text-grey">
                          <li>We offer various tools and services online on our platform that can assist you in diagnosing, taking decisions and prescribing patients. </li>
                          <li> Our tools are crafted by leading Doctors in the industry, hence extend their capabilities and understanding in your service pipeline.</li>
                          <li> We offer multiple ready made cloud solutions with high accuracies and capabilities of leading doctors, apart from this provided with the medical history of patient from our platform we can do the reactionary analysis of the existing medication and the new prescription that you’re preparing which will raise an alarm in case of any anomalies.</li>
                          <li>We also provide an online consultation platform which can divert more patients to you and make your consultation cross borders and distance from the comfort of your home</li>

                        </ul>


                    </div>
                  </div>
                </div>

                <div class="service-promo-item row no-gutters wow fadeInRight" data-wow-delay=".2s" data-wow-offset="150">
                  <div class="col-sm-4 order-sm-last service-promo-item-photo" style="background-image: url(/static/img/hschain.jpg);">
                    <img src="/static/img/hschain.jpg" alt="" class="img-fluid d-sm-none">
                  </div>
                  <div class="col-sm-8 order-sm-first service-promo-item-detail">
                    <div class="fs20 text-grey"><h1><b>For Healthcare Supply Chain</b></h1></div>
                    <div class="fs18 text-grey">Pharmacies can now find alternate medicines with exactly similar compounds in seconds and get validation from doctors in minutes, start delivering medicines straight to home without the need of a person visiting your centres</div>
                                       <div class="fs20 text-grey"><strong><h2>Some services:</h2></strong>
                        <ul class="fs14 text-grey">
                          <li>Now reach out to more customers from far away places and never have to turn anyone down for unavailability of stock with alternative suggestions.  </li>
                          <li> We extend limits of your pharmacies by delivering medicines straight to the patient even at remote places by providing you a platform.</li>
                          <li> We also divert customers to your brand and also make your service more intelligent and dynamic.</li>
                          <li>Our pharmacy suggestion tools are designed by leading pharmacists so now extend their capabilities in your services</li>
                          <li> We also offer sample collection from home, so now let your lab reach directly at homes of people, this will improve your reach to more customers.</li>
<li>We also offer deep and insightful reports along with the results of the samples, with us your reports will be more understandable to patients and we can highlight anomalies in your reports</li>

                        </ul>


                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>


          <div class="section-item text-left">
            <div class="container pt-5">
              <h4 class="mt10 mb20 font-libre">Our Offerings after beta launch</h4>
              <div class="progress-list mt50">
                <div class="progress-item wow fadeInRight" data-wow-delay=".2s">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="progress-item-num font-libre">1.</div>
                    </div>
                    <div class="col-sm-9">
                      <div class="progress-item-title">EEG, ECG analytics</div>
                      <div class="fs18 text-grey">This is our main USP, our team is expert and highly capable in Brain Computer Interface which has led us to gain expertise in signal processing, we offer real time monitoring, tracking, warning/alerting and reporting of various signal based processes. We are also developing ranges of IoT products that can enable real time monitoring of health at the comfort of your homes. Not only Neural or cardiological signals, we can offer real time analytics on other biophysical signals too such as respiration, temperature and blood pressure.</div>
                    </div>
                  </div>
                </div>

                <div class="progress-item wow fadeInRight" data-wow-delay=".2s">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="progress-item-num font-libre">2.</div>
                    </div>
                    <div class="col-sm-9">
                      <div class="progress-item-title">X-ray Diagnostic engine</div>
                      <div class="fs18 text-grey">A really deep and insightful X-ray Diagnostic engine which not only classifies an X-ray based on presence of various anomalies such as Cavity, Fibrosis, Nodules, blunting of CP angles, enlarged arteries, apical opacity, Hilar prominence and many other irregularities but also localise the area of problem and offers a pan out and zoomed in version of such areas. This is the most intelligent X-ray Diagnostic tool around, Any HSaaS vendor is equipped with such capabilities, findings may miss the human eye but it cannot miss our AI.</div>
                    </div>
                  </div>
                </div>

                <div class="progress-item wow fadeInRight" data-wow-delay=".2s">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="progress-item-num font-libre">3.</div>
                    </div>
                    <div class="col-sm-9">
                      <div class="progress-item-title">CT-Scan tool</div>
                      <div class="fs18 text-grey">Our CT-Scan tool offers really deep insight on the data hidden in the CT-Scan and offers a detailed analysis of all the features to be taken care of during decision.
Our Head CT scan tool offers huge resolution in localising the areas of anomalies such as Extradural hemorrhage, Subdural hemorrhage, Intraventricular hemorrhage, Cranial fracture, ruptures, cervical bruits and a lot more.
</div>
                    </div>
                  </div>
                </div>

               <div class="progress-item wow fadeInRight" data-wow-delay=".2s">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="progress-item-num font-libre">4.</div>
                    </div>
                    <div class="col-sm-9">
                      <div class="progress-item-title">Selfie based dermatological assistant</div>
                      <div class="fs18 text-grey">It is our most innovative tool after signal processing capabilities and second thing in our bag that we are really proud of, Now have deep dermatological insight within seconds with just an upload of an image and we deliver a deep insight on all the dermatological conditions that you could be facing. Now dermatological lab testing can be in your pocket.

</div>
                    </div>
                  </div>
                </div>


                <div class="progress-item wow fadeInRight" data-wow-delay=".2s">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="progress-item-num font-libre">5.</div>
                    </div>
                    <div class="col-sm-9">
                      <div class="progress-item-title">MRI scan tool</div>
                      <div class="fs18 text-grey">Our MRI scan tool can localise areas responsible for tumors, developmental anomalies, dementia, traumatic brain injury,  stroke, infection, multiple sclerosis, and the causes of headache.</div>
                    </div>
                  </div>
                </div>

               <div class="progress-item wow fadeInRight" data-wow-delay=".2s">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="progress-item-num font-libre">6.</div>
                    </div>
                    <div class="col-sm-9">
                      <div class="progress-item-title">Chatbot</div>
                      <div class="fs18 text-grey">Our state of the art Chatbot, which can talk with you just like a doctor and can generate a highly professional and deep report which you can share with any doctor on our platform for easier and accurate analysis.


</div>
                    </div>
                  </div>
                </div>

               <div class="progress-item wow fadeInRight" data-wow-delay=".2s">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="progress-item-num font-libre">7.</div>
                    </div>
                    <div class="col-sm-9">
                      <div class="progress-item-title">One stop Platform</div>
                      <div class="fs18 text-grey">A platform where you can consult with HSaaS equipped Hospitals, Doctors, Clinics, Pharmacies and labs. HSaaS adds a layer of trust, reliability and security, equipped with AI, our platform helps in reducing human error and bias. Since we are on a scalable architecture, there is no waiting time, now don’t wait for several months for an appointment as our platform can serve multiple people at the same time. If your family doctor is not on our platform, suggest him to onboard with us so that even you can leverage the experience of AI guided medical services.


</div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>

<div class="footer">

        <div class="footer-flash home-flash-dark">
          <div class="container">
            <div class="footer-content-flash">
              <div class="row">
                    <div class="col-md-4 mt-1 mb-5">
                    <h3 class="section-item-title">office</h3>
                    <div class="contact-item">Radha Valley, Mathura<br /> Uttar Pradesh</div>
                    <div class="contact-item"><a href="mailto:support@hsaas.ai">support@hsaas.ai</a></div>
                    <div class="contact-item"><a href="tel:+919149154337" class="phone-link">+91812 618 1867</a>
                   
                    </div>
                      <ul class="social">
                        <li><a href="#"><i class="socicon-twitter"></i></a></li>
                        <li><a href="#"><i class="socicon-facebook"></i></a></li>
                        <li><a href="#"><i class="socicon-googleplus"></i></a></li>
                        <li><a href="#"><i class="socicon-behance"></i></a></li>
                        <li><a href="#"><i class="socicon-instagram"></i></a></li>
                      </ul><br />
                      <a href="/Coming-Soon" target="_blank">From the Founders Desk</a>
                    </div>
                    <div class="col-md-4 mb-5 text-center">
                      <div class="more fs14 mb-2 mt-3">So What’s Next?</div>
                      <div class="h2-3d font-custom mb-2"><strong>We’re Ready!</strong></div>
                      <div class="more more-xl"><a href="#" class="underline">Let’s Chat</a></div>
                    </div>
                    <div class="col-md-4 mt-1 mb-5 text-right">
                      <h3 class="section-item-title">Important Links</h3>
                       <a href="/Coming-Soon" target="_blank">About Us</a><br />
                       <a href="/team" target="_blank">Our Team</a><br />
                       <a href="/Coming-Soon" target="_blank">Our Partners</a><br />
                       <a href="/Coming-Soon" target="_blank">Our Doctors</a><br />
                       <a href="/Coming-Soon" target="_blank">Our Products &amp;<br /> Current Areas</a><br /><br />
                       <a href="/Coming-Soon" target="_blank">Validation</a><br />
                       <a href="/Coming-Soon" target="_blank">Press Release</a><br />
                       <a href="/Coming-Soon" target="_blank">Contact Us</a>
                      <!--div class="twitter-item">
                        Looking for aa Creative PSD Template?
                        <br />
                        It here: <a href="/Coming-Soon" target="_blank">/Coming-Soon</a>
                        <div class="twitter-date"><i class="socicon-twitter"></i> 2 days ago</div>
                      </div>
                      <div class="twitter-item">
                        You need an image stock
                        <br />
                        It here: <a href="https://uph.com/567AW1" target="_blank">https://uph.com/567AW1</a>
                        <div class="twitter-date"><i class="socicon-twitter"></i> 4 days ago</div>
                      </div-->
                    </div>
                  </div>
                </div>
              </div>
              <div class="site-info">
                <div class="container">
                    <div class="copyright">&copy; 2020 <strong>HSaaS.ai</strong>. All Rights Reserved. Powered by <strong>Cratize.ai</strong></div>
          </div>
        </div>
      </div>

    </div>


    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/jsjquery.min.js"><\/script>')</script>
    <script src="/static/js/smoothscroll.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/animsition.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/jquery.pagepiling.min.js"></script>
    <script src="/static/js/isotope.pkgd.min.js"></script>
    <script src="/static/js/jquery.fancybox.min.js"></script>
    <script src="/static/js/TweenMax.min.js"></script>
    <script src="/static/js/ScrollMagic.min.js"></script>
    <script src="/static/js/animation.gsap.min.js"></script>
    <script src="/static/js/jquery.viewport.js"></script>
    <script src="/static/js/jquery.countdown.min.js"></script>
    <script src="/static/js/script.js"></script>

    <script>
      $(document).ready(function() {
        // init controller
        var controller = new ScrollMagic.Controller();

        // build scenes
        new ScrollMagic.Scene({triggerElement: '.parallax-start', triggerHook: 0, duration: '100%'})
              .setTween('.full-image-dark', {backgroundPosition: '50% 100%', ease: Linear.easeNone})
              .addTo(controller);


      });
    </script>

  </body>
</html>