<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0">
    <meta name="description" content="Lewis - Creative Portfolio HTML Template">
    <meta name="author" content="Paul, Logan Cee">

        <title>HSaaS.ai - Scalable and Reliable Healthcare solutions on the go - Our Team</title>

    <!-- CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/animsition.min.css" rel="stylesheet">
    <link href="static/css/owl.carousel.min.css" rel="stylesheet">
    <link href="static/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="static/css/socicon.css" rel="stylesheet">
    <link href="static/css/ionicons.min.css" rel="stylesheet">
    <link href="static/css/animate.min.css" rel="stylesheet">
    <link href="static/css/jquery.fancybox.min.css" rel="stylesheet">

    <!-- Main CSS -->
    <link href="static/css/style.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
    <link rel="manifest" href="static/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

  </head>

  <body class="theme-orange fixed-footer fixed-footer-lg" style="background:black">
    <div class="animsition">
      <div class="wrapper parallax-start" style="background:black">
        <header id="header" class="header header-fixed">
          <div class="container-fluid clearfix">
            <div class="brand">
              <a href="/">
                <div class="brand-name text-texture">HS</div>
                <div class="brand-text">Making AI<br /> Acessible</div>
              </a>
            </div>

            <button class="nav-toggle-btn a-nav-toggle">
              <span class="nav-toggle-title" style="color:gray">Menu</span>
              <span class="nav-toggle nav-toggle-sm">
                <span class="stick stick-1"></span>
                <span class="stick stick-2"></span>
                <span class="stick stick-3"></span>
              </span>
            </button>
          </div>

          <div class="hide-menu a-nav-toggle"></div>

          <div class="menu">
            <div class="menu-lang">
              <a href="#" class="menu-lang-item active">Eng</a>
              <a href="/hi/" class="menu-lang-item" style="color:gray">हिन्दी</a>
            </div>

            <div class="menu-main" id="accordion" style="color:black">
              <ul style="color:black">
                <li><a data-text="Home"  href="/" role="button" style="color:black">Home</a>
                  <!--div class="collapse" id="menuHome" data-parent="#accordion">
                    <ul>
                      <li><a href="home-flash.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Flash">Flash</a></li>
                      <li><a href="home-horizontal.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Parallax Horizontal">Parallax Horizontal</a></li>
                      <li><a href="home-minimal.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Minimal">Minimal</a></li>
                      <li><a href="home-zoom.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Zoom Parallax Image">Zoom Parallax Image</a></li>
                      <li><a href="home-3d.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="3D Parallax">3D Parallax</a></li>
                      <li><a href="home-video.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Video Background">Video Background</a></li>
                      <li><a href="home-piling.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Parallax Piling">Parallax Piling</a></li>
                    </ul>
                  </div-->
                </li>
                <li><a data-text="What we do?" data-toggle="collapse" href="#menuWorks" role="button" aria-expanded="false" aria-controls="menuWorks" style="color:black">What we do?</a>
                  <div class="collapse" id="menuWorks" data-parent="#accordion">
                    <ul>
                      <li><a href="about-me.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="About Us">About Us</a></li>
                      <li><a href="career-detail.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Our Works">Our Services</a></li>
                      <!--li><a href="work-metro.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Metro">Metro</a></li>
                      <li><a href="work-listing.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Listing">Listing</a></li>
                      <li><a href="work-carousel.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Carousel">Carousel</a></li>
                      <li><a href="work-parallax.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Parallax">Parallax</a></li>
                      <li><a href="single-project-branding.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Single Project Branding">Single Project Branding</a></li>
                      <li><a href="single-project-photography.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Single Project Photography">Single Project Photography</a></li>
                      <li><a href="single-project-web-design.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Single Project Web Design">Single Project Web Design</a></li>
                      <li><a href="single-project-mobile-app.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Single Project Mobile App">Single Project Mobile App</a></li-->
                    </ul>
                  </div>
                </li>
                <li><a data-text="Our Work" data-toggle="collapse" href="#menuNews" role="button" aria-expanded="false" aria-controls="menuNews" style="color:black">Our Work</a>
                  <div class="collapse" id="menuNews" data-parent="#accordion">
                    <ul>
                      <li><a href="news-grid.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Grid">Research</a></li>
                      <li><a href="news-masonry.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Masonry">Patent</a></li>
                      <li><a href="news-with-sidebar.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="News with sidebar">Products</a></li>
                      <!--li><a href="single-post-no-sidebar.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Single Post No Sidebar">Single Post No Sidebar</a></li>
                      <li><a href="single-post-with-sidebar.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Single Post With Sidebar">Single Post With Sidebar</a></li-->
                    </ul>
                  </div>
                </li>
                <li class="active"><a data-text="Flag Bearers" data-toggle="collapse" href="#menuStudio" role="button" aria-expanded="true" aria-controls="menuStudio" style="color:black">Flag Bearers</a>
                  <div class="collapse show" id="menuStudio" data-parent="#accordion">
                    <ul>
                      
                      <li class="#"><a href="#" class="animsition-link" data-animsition-out-class="fade-out" data-text="Our team">Our team</a></li>
                      <li><a href="career.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Career">Career</a></li>
                      
                      <li><a href="how-its-work.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Contact Us">Contact Us</a></li>
                      <!--li><a href="service.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Service">Service</a></li>
                      <li><a href="coming-soon.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Coming soon">Coming soon</a></li>
                      <li><a href="404.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Page 404">Page 404</a></li-->
                    </ul>
                  </div>
                </li>
                <li><a href="contact.html" class="animsition-link" data-animsition-out-class="fade-out" data-text="Contact">Contact</a></li>
              </ul>
            </div>

            <div class="menu-footer">
                <ul class="social social-rounded">
                  <li><a href="#" style="color:black"><i class="socicon-twitter"></i></a></li>
                  <li><a href="#" style="color:black"><i class="socicon-facebook"></i></a></li>
                  <li><a href="#" style="color:black"><i class="socicon-googleplus"></i></a></li>
                </ul>
              <div class="menu-copyright">&copy; 2020 <strong>HSaaS.ai</strong>. All Rights Reserved.<br /> Powered by <strong>Cratize.ai</strong></div>            </div>
          </div>
        </header>


        <div class="section">
          <div class="section-item">
            <div class="container">
              <div class="mt70 text-left">
                  <h1 class="fs60 mb20 font-libre"><strong>The faces of HSaaS.ai</strong></h1>
                <div class="row">
                  <div class="col-md-8">
                    <div class="fs20 mt5 mb30 text-primary">Meet our Flag Bearers who are making advancement of AI reachable to all </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="section-item text-left">
            <div class="container-fluid">
              <div class="member-list">
                <div class="row row-60">
                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="member-item">
                      <div class="member-item-photo zooming"><a href="about-me.html"><img src="static/img/pic167.png" alt="" /></a></div>
                      <div class="member-item-name"><a href="about-me.html">Suyash Dixit<br /><br /></a></div>
                      <div class="member-item-status"><strong>Founder</strong></div>
                      <div class="member-item-status">2 Years of Experience</div>
                      <div class="member-item-status">Ex-Zebo.ai (Co-Founder &amp; Data Scientist)</div>
                      <div class="member-item-status">SDE Rakuten</div>
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="member-item">
                      <div class="member-item-photo zooming"><a href="about-me.html"><img src="static/img/pic168.png" alt="" /></a></div>
                      <div class="member-item-name"><a href="about-me.html">Ashutosh Shankhadhar</a></div>
                      <div class="member-item-status"><strong>Founder</strong></div>
                      <div class="member-item-status">8 Years of Experience</div>
                      <div class="member-item-status">Ex-IBM Research</div>
                      <div class="member-item-status">Proffessor at GLA University</div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="member-item">
                      <div class="member-item-photo zooming"><a href="about-me.html"><img src="static/img/pic170.jpg" alt="" /></a></div>
                      <div class="member-item-name"><a href="about-me.html">Arushi Mangla<br /><br /></a></div>
                      <div class="member-item-status"><strong>Co-Founder</strong></div>
                      <div class="member-item-status">Data Scientist, Mu Sigma</div>
                      <div class="member-item-status">Research Background(2 Years)</div>
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="member-item">
                      <div class="member-item-photo zooming"><a href="about-me.html"><img src="static/img/pic171.jpg" alt="" /></a></div>
                      <div class="member-item-name"><a href="about-me.html">Nishtha Gupta<br /><br /></a></div>
                      <div class="member-item-status"><strong>Co-Founder</strong></div>
                      <div class="member-item-status">1.5 Years of Experience</div>
                      <div class="member-item-status">Ex-Zebo.ai (Data Scientist)</div>
                      <div class="member-item-status">Data Scientist, Algoscale</div>
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="member-item">
                      <div class="member-item-photo zooming"><a href="about-me.html"><img src="static/img/pic169.jpg" alt="" /></a></div>
                      <div class="member-item-name"><a href="about-me.html">Naresh Kumar Sharma</a></div>
                      <div class="member-item-status"><strong>Advisor</strong></div>
                      <div class="member-item-status">20 Years of Experience</div>
                      <div class="member-item-status">General Manager, Tata Communications</div>
                    </div>
                  </div>

                  
                  <!--div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="member-item">
                      <div class="member-item-photo zooming"><a href="about-me.html"><img src="static/img/pic172.jpg" alt="" /></a></div>
                      <div class="member-item-name"><a href="about-me.html">Roberto Firmino</a></div>
                      <div class="member-item-status">Ui/UX Designer</div>
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="member-item">
                      <div class="member-item-photo zooming"><a href="about-me.html"><img src="static/img/pic173.jpg" alt="" /></a></div>
                      <div class="member-item-name"><a href="about-me.html">Danisa Danilova</a></div>
                      <div class="member-item-status">Illustrator / animation</div>
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="member-item">
                      <div class="member-item-photo zooming"><a href="about-me.html"><img src="static/img/pic174.jpg" alt="" /></a></div>
                      <div class="member-item-name"><a href="about-me.html">Vicious Victor</a></div>
                      <div class="member-item-status">graphic designer</div>
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="member-item">
                      <div class="member-item-photo zooming"><a href="about-me.html"><img src="static/img/pic175.jpg" alt="" /></a></div>
                      <div class="member-item-name"><a href="about-me.html">David Giroud</a></div>
                      <div class="member-item-status">Marketing</div>
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="member-item">
                      <div class="member-item-photo zooming"><a href="about-me.html"><img src="static/img/pic176.jpg" alt="" /></a></div>
                      <div class="member-item-name"><a href="about-me.html">Melaine Gomez</a></div>
                      <div class="member-item-status">junior marketing</div>
                    </div>
                  </div-->

                  <div class="col-lg-3 col-md-4 col-sm-6" style="background:black">
                    <a href="#" class="member-become member-item" style="background-color: #05041c">
                      <div class="inside">
                        <i class="icon ion-android-person-add"></i>
                        <span class="member-become-title">Join the movement<br />HSaaS.ai</span>
                      </div>
                    </a>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="footer">

        <div class="footer-flash home-flash-dark">
          <div class="container">
            <div class="footer-content-flash">
              <div class="row">
                    <div class="col-md-4 mt-1 mb-5">
                    <h3 class="section-item-title">office</h3>
                    <div class="contact-item">Radha Valley, Mathura<br /> Uttar Pradesh</div>
                    <div class="contact-item"><a href="mailto:support@hsaas.ai">support@hsaas.ai</a></div>
                    <div class="contact-item"><a href="tel:+919149154337" class="phone-link">+91812 618 1867</a>
                    
                    </div>
                      <ul class="social">
                        <li><a href="#"><i class="socicon-twitter"></i></a></li>
                        <li><a href="#"><i class="socicon-facebook"></i></a></li>
                        <li><a href="#"><i class="socicon-googleplus"></i></a></li>
                        <li><a href="#"><i class="socicon-behance"></i></a></li>
                        <li><a href="#"><i class="socicon-instagram"></i></a></li>
                      </ul><br />
                      <a href="/Coming-Soon" target="_blank">From the Founders Desk</a>
                    </div>
                    <div class="col-md-4 mb-5 text-center">
                      <div class="more fs14 mb-2 mt-3">So What’s Next?</div>
                      <div class="h2-3d font-custom mb-2"><strong>We’re Ready!</strong></div>
                      <div class="more more-xl"><a href="#" class="underline">Let’s Chat</a></div>
                    </div>
                    <div class="col-md-4 mt-1 mb-5 text-right">
                      <h3 class="section-item-title">Important Links</h3>
                       <a href="/Coming-Soon" target="_blank">About Us</a><br />
                       <a href="/Coming-Soon" target="_blank">Our Team</a><br />
                       <a href="/Coming-Soon" target="_blank">Our Partners</a><br />
                       <a href="/Coming-Soon" target="_blank">Our Doctors</a><br />
                       <a href="/Coming-Soon" target="_blank">Our Products &amp;<br /> Current Areas</a><br /><br />
                       <a href="/Coming-Soon" target="_blank">Validation</a><br />
                       <a href="/Coming-Soon" target="_blank">Press Release</a><br />
                       <a href="/Coming-Soon" target="_blank">Contact Us</a>
                      <!--div class="twitter-item">
                        Looking for aa Creative PSD Template?
                        <br />
                        It here: <a href="/Coming-Soon" target="_blank">/Coming-Soon</a>
                        <div class="twitter-date"><i class="socicon-twitter"></i> 2 days ago</div>
                      </div>
                      <div class="twitter-item">
                        You need an image stock
                        <br />
                        It here: <a href="https://uph.com/567AW1" target="_blank">https://uph.com/567AW1</a>
                        <div class="twitter-date"><i class="socicon-twitter"></i> 4 days ago</div>
                      </div-->
                    </div>
                  </div>
                </div>
              </div>
              <div class="site-info">
                <div class="container">
                    <div class="copyright">&copy; 2020 <strong>HSaaS.ai</strong>. All Rights Reserved. Powered by <strong>Cratize.ai</strong></div>
          </div>
        </div>
      </div>

    </div>


    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/js/jquery.min.js"><\/script>')</script>
    <script src="static/js/smoothscroll.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/animsition.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/wow.min.js"></script>
    <script src="static/js/jquery.pagepiling.min.js"></script>
    <script src="static/js/isotope.pkgd.min.js"></script>
    <script src="static/js/jquery.fancybox.min.js"></script>
    <script src="static/js/TweenMax.min.js"></script>
    <script src="static/js/ScrollMagic.min.js"></script>
    <script src="static/js/animation.gsap.min.js"></script>
    <script src="static/js/jquery.viewport.js"></script>
    <script src="static/js/jquery.countdown.min.js"></script>
    <script src="static/js/script.js"></script>

    <script>
      $(document).ready(function() {
        // init controller
        var controller = new ScrollMagic.Controller();

        // build scenes
        new ScrollMagic.Scene({triggerElement: '.parallax-start', triggerHook: 0, duration: '100%'})
              .setTween('.full-image-dark', {backgroundPosition: '50% 100%', ease: Linear.easeNone})
              .addTo(controller);


      });
    </script>

  </body>
</html>
